@model List<Product>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>

    <div class="card-body py-4">
        <div class="row pt-4 pb-4">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Product
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-light" style="width: 100%;">
            <thead>
                <th class="text-center">
                    Title
                </th>
                <th class="text-center">
                    ISBN
                </th>
                <th class="text-center">
                    Price
                </th>
                <th class="text-center">
                    Author
                </th>
                <th class="text-center">
                    Category
                </th>
                <th class="text-center">
                    Actions
                </th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="~/js/product.js"></script>
}
